/*Para eliminar los estilos de cada navegador*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*tipografías aplicadas*/
@font-face {
    font-family: header-family;
    src: url(../assets/fontFamily/Courgette/Courgette-Regular.ttf);
}

@font-face {
    font-family: merienda-family;
    src: url(../assets/fontFamily/Merienda/Merienda-VariableFont_wght.ttf);
}

/*Estilo del body*/
body {
    background-color: #d183f391;
}

/*Propiedades del header, background y font*/
header {
    padding: 90px;
    background-image: url(../assets/images/foto-padres-header.jpg);
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100%;
    font-family: header-family;
    font-size:x-large;
}

/*Estilos barra de navegación */
.navbar-nav {
width: 100%; 
}

.nav-item {
    font-family: merienda-family;
    font-size: larger;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #DAA5F0;
    justify-content: space-evenly;
}

.navbar{
    padding: 0px;

}

.container-fluid{
    padding: 0px;
}

/*Estilo footer*/
footer {
    font-family: merienda-family;
    font-size: small;
    text-align: center;
    background-color: rgba(255, 127, 80, 0.591);
}

/*Aplicando flexbox a la página de inicio*/

#seccion-principal{
    display: flex;
    flex-direction: column;

}
h1{
    align-self: center; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: xx-large;
    margin-top: 50px;
    margin-bottom: 50px;
}
img{
    align-self: center;
    width: 40%;
    margin-bottom: 30px;
}