article {
    display: flex;
    width: 100%; 
    justify-content: space-around;
    
}


img {
    width: 30%;
    height: min-content;
    margin: 20px;
}

ul {
    list-style: none;
}

@media (max-width: 320px) {
    article {flex-direction: column;}
    img {width: 60%;}
    h2 {text-align: center;}
}