// Colores
$morado: #c6538c;
$morado2: #d183f391;
$lila: #daa5f0;
$cafe: rgba(255, 127, 80, 0.591);
$cafe-oscuro: #ec421890;
$amarillo-oscuro: rgba(249, 196, 3, 0.808);
$azul1: rgb(17, 148, 148);
$azul2: #6ae4daa9;
$azul3: rgba(0, 106, 255, 0.594);
