main {
        .navbar {
            padding: 0px;
            .container-fluid {
                padding: 0px;
                
                    div {
                        /*Estilos barra de navegación */
                        .navbar-nav {
                            width:100%;
                            
                                .nav-item {
                                    @include display-flex();

                                    font-family: merienda-family;
                                    font-size: larger;
                                    width: 100%;
                                    background-color: $lila;
                                    justify-content: space-evenly;
                                }
                        }
                    }
            }
        
        }
        #seccion-principal {
            @include display-flex(column);
        }
    }
