/*Se agrega responsive con media query para tablet y celular*/

@media (max-width: 768px) {
    body {
        header {
            h1 {
                font-size: 40px;
            }
        }

        main {
            .navbar {
                .container-fluid {
                    .navbar-collapse {
                        .navbar-nav {
                            .nav-item {
                                .nav-link {
                                    text-align: center;
                                }
                            }

                        }
                    }
                }
            }
            section {
                article {
                    img {
                        width: 70%;
                    }
                }
            }

            iframe {
                width: 100%;
            }
        }

    }
}

/*Se agrega responsive para celular, cambio de posición de los elementos, en columnas pagina mes a mes*/

@media (max-width: 320px) {
    body {
        header {
            h1 {
                font-size: 30px;
            }
        }

        main {
            nav {
                .container-fluid {
                    .collapse {
                        .navbar-nav {
                            .nav-item {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            section {
                font-size: 18px;

                article {
                    flex-direction: column;

                    img {
                        width: 70%;
                        align-self: center;
                    }
                }

                iframe {
                    width: 250px;
                    height: 200px;
                }
            }

            iframe {
                width: 100%;
            }
        }

        footer {
            ul {
                width: 100%;
            }

        }
    }
}
