/*Se agrega responsive con media query para tablet y celular*/

@media (max-width: 768px) {
    body {
        background-color: $cafe-oscuro;
    }
    footer {
        background-color: $amarillo-oscuro;
        }
}

@media (max-width: 320px) {
    main {
        .navbar {
            .container-fluid {
                div {
                    .navbar-nav {
                        .nav-item {
                            background-color: $azul1;
                        }
                    }
                }
            }
        }
    }
    body {
        background-color: $azul2;
    }
    footer {
        background-color: $azul3;
    }
}

/*Se agrega responsive para celular, cambio de posición de los elementos, en columnas pagina mes a mes*/

@media (max-width: 320px) {
    article {
        flex-direction: column;
    img {
        width: 70%;
        align-self: center;
        }
    }
}



