
section {
    article {
        display:flex;
        flex-direction: column;
        width: 100%;
        p {
            h3 {
                text-align: center;
            }
        }

    img {
    width: 30%;
    height: min-content;
    margin: 20px;
        }
    }  
} 
