/*ESstilos página mes a mes*/
article {
    @include display-flex();
    width: 100%;
    justify-content: space-around;
}

img {
    width: 30%;
    height: min-content;
    margin: 20px;
}

h2 {
    text-align: center;
}
