/*Aplicando flexbox a la página de inicio*/
#seccion-principal{
    @include display-flex();

    h1{
        align-self: center;
    }
    img {
        align-self: center;
        width: 40%;
        margin-bottom: 30px;
    }
}
